{% extends 'main/layout.html' %}  
{%block title%}Страница о нас{%endblock%}  
{%block content%}
<div class="container">
    <h1>AviaTickets</h1>
    <p>AviaTickets — авиакомпания с самым современным парком воздушных судов на российском рынке авиаперевозок. Широкая маршрутная сеть позволяет нашим пассажирам путешествовать в 181 город в 26 странах мира.

        AviaTickets входит в тройку лучших авиакомпаний Восточной Европы в авторитетном международном рейтинге Skytrax. 
        
        AviaTickets — один из самых экологичных авиаперевозчиков мира, по оценке экологической организации Atmosfair. Авиакомпания занимает 16 место в мировом рейтинге.</p>
</div>
{%endblock%}
